<ion-header>
  <ion-toolbar>
    <ion-title>tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="new-tasks">
        <ion-icon name="list-circle"></ion-icon>
        <ion-label>New Tasks</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="saved-tasks">
        <ion-icon name="list-circle"></ion-icon>
        <ion-label>Saved Tasks</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>