<ion-card>
  <ion-card-header> Route to site arrival </ion-card-header>
  <ion-card-content>
    <ion-radio-group>
      <ion-row>
        <ion-col>
          <ion-label>Yes</ion-label>
          <ion-radio value="There is a route from site arrival points that does not require the use of stairs.">
          </ion-radio>
        </ion-col>
        <ion-col>
          <ion-label>No</ion-label>
          <ion-radio value="There is no route from site arrival points that doesn\'t require the use of stairs.">
          </ion-radio>
        </ion-col>
        <ion-col>
          <ion-label>N/A</ion-label>
          <ion-radio value="N/A"></ion-radio>
        </ion-col>
      </ion-row>

    </ion-radio-group>
  </ion-card-content>
</ion-card>